/* makes sizing simpler */
html {
  body {
    *,
    *::before,
    *::after {
      box-sizing: border-box;
    }

    /* remove default spacing */
    /* force styling of type through styling, rather than elements */

    * {
      margin: 0;
      padding: 0;
      font: inherit;
    }

    /* dark mode user-agent-styles */

    html {
      color-scheme: dark light;
    }

    /* min body height */

    body {
      min-height: 100vh;
    }

    /* responsive images/videos */
    img,
    picture,
    svg,
    video {
      display: block;
      max-width: 100%;
    }

    img {
      max-width: 100%;
      height: auto;
      vertical-align: middle;
      font-style: italic;
      background-repeat: no-repeat;
      background-size: cover;
      shape-margin: 0.75rem;
    }
  }
}
